# Vim swap files
.gitignore.swp

# JetBrains IDEA files
.idea/*

# Python setuptools files
build/
dist/
Visual_MIDI.egg-info/
__pycache__

# Output plot files
output

# Jupyther notebook
.ipynb_checkpoints/
